.gitattributes export-ignore
.gitignore export-ignore

/.gitlab-ci.yml export-ignore
/.mailmap export-ignore
/check.sh export-ignore
/DEVELOPER.readme export-ignore
/ROADMAP export-ignore
/TODO export-ignore

/bench/encoding/ export-ignore
/examples/in_progress/ export-ignore
/examples/multiprecision/random/ export-ignore
/examples/multiprecision/bench-include/ export-ignore
/examples/multiprecision/mini-gmp/ export-ignore
/misc/ export-ignore
/opam/ export-ignore
/tests/ export-ignore

why3session.xml merge=ours
why3shapes.gz merge=ours
*.png diff=image
