*~
*.bak
*.o
*.svn
.*.swp
.why.conf
why.conf
.authors
*.cmx
*.cmo
*.cmi
*.cmxs
\#*\#

# /
/config.status
/config.log
/autom4te.cache
/Makefile
/configure
/.depend.*
/semantic.cache
/TAGS
/depend.pdf
/output_why3
/output_coq
/apidoc
/dep.pdf

# /bench/
/bench/bench

# /bench/plugins/
/bench/plugins/*.cm*
/bench/plugins/*.annot
/bench/plugins/config.log

# /bin/
/bin/why.byte
/bin/why.opt
/bin/whyml.byte
/bin/whyml.opt
/bin/whyide.byte
/bin/whyide.opt
/bin/why-cpulimit
/bin/why3-cpulimit
/bin/whyconfig.byte
/bin/whyconfig.opt
/bin/whybench.byte
/bin/whybench.opt
/bin/whytptp.byte
/bin/whytptp.opt

# /doc/
/doc/version.tex
/doc/ocamldoc.sty
/doc/*whizzy*
/doc/manual.wdvi
/doc/manual.raux
/doc/manual.log
/doc/manual.toc
/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.ind
/doc/manual.ilg
/doc/manual.idx
/doc/manual.rel
/doc/*.haux
/doc/*.pdf
/doc/manual.html
/doc/*.hind
/doc/*.htoc

# /share/
/share/*.cm*
/share/*.annot

# /share/emacs/
/share/emacs/semantic.cache

# /src/
/src/config.sh
/src/config.ml
/src/*.annot
/src/*.cm[aiox]
/src/*.cmxa
/src/*.[ao]

# /src/coq-plugin/
/src/coq-plugin/*.cm*
/src/coq-plugin/*.annot
/src/coq-plugin/g_whytac.ml

# /src/config/
/src/config/*.cm*
/src/config/*.annot

# /src/core/
/src/core/*.cm*
/src/core/*.annot

# /src/driver/
/src/driver/*.annot
/src/driver/*.cm*
/src/driver/driver_parser.output
/src/driver/driver_lexer.ml
/src/driver/driver_parser.ml
/src/driver/driver_parser.mli

# /src/ide/
/src/ide/*.annot
/src/ide/*.cm*

# /src/manager/
/src/manager/*.annot
/src/manager/*.cm*

# /src/parser/
/src/parser/*.annot
/src/parser/*.cm*
/src/parser/parser.output
/src/parser/lexer.ml
/src/parser/parser.ml
/src/parser/parser.mli
/src/parser/parser.pre.ml
/src/parser/parser.pre.mli

# /src/printer/
/src/printer/*.cm*
/src/printer/*.annot
/src/printer/driver_lexer.ml
/src/printer/driver_parser.ml
/src/printer/driver_parser.mli
/src/printer/*.output

# /src/programs/
/src/programs/*.cm*
/src/programs/*.annot
/src/programs/pgm_parser.mli
/src/programs/pgm_parser.ml
/src/programs/pgm_lexer.ml
/src/programs/*.output

# /src/tptp2why/
/src/tptp2why/*.cm*
/src/tptp2why/*.annot
/src/tptp2why/tptpParser.mli
/src/tptp2why/tptpParser.ml
/src/tptp2why/tptpParser.conflicts
/src/tptp2why/tptpParser.automaton
/src/tptp2why/*.output
/src/tptp2why/tptpLexer.ml

# /src/transform/
/src/transform/*.cm*
/src/transform/*.annot

# /src/util/
/src/util/*.cm*
/src/util/*.annot
/src/util/dynlink_compat.ml
/src/util/rc.ml

# /tests/
/tests/test-claude/

# /examples/
/examples/programs/my_cosine/*.gappa
/examples/scottish-private-club/