Léo Andrès <leo@ndrs.fr>
Lucas Baudin <lucas.baudin@ens.fr> <xapantu@xaptop>
Benedikt Becker <benedikt.becker@inria.fr>
Benedikt Becker <benedikt.becker@inria.fr> <bbecker@moloch.lri.fr>
Cláudio Belo Lourenço <belolourenco@gmail.com> <claudio-filipe.belo-da-silva-lourenco@inria.fr>
Allan Blanchard <allan.blanchard@cea.fr>
François Bobot <francois@bobot.eu> <bobot@lri.fr>
François Bobot <francois@bobot.eu> <francois.bobot@cea.fr>
Paul Bonnot <paul.bonnot@inria.fr>
Paul Bonnot <paul.bonnot@inria.fr> <paul.bonnot@gmail.com>
Paul Bonnot <paul.bonnot@inria.fr> <paul.bonnot@trust-in-soft.com>
Martin Clochard <martin.clochard@lri.fr> <martin@pc-stagiaire.(none)>
Martin Clochard <martin.clochard@lri.fr> <clochard@MC-MacBook.(none)>
Loïc Correnson <loic.correnson@cea.fr>
Sylvain Dailler <dailler@adacore.com>
Sylvain Dailler <dailler@adacore.com> <sdailler@hauzar@adacore.com>
Sylvain Dailler <dailler@adacore.com> <sylvain.dailler@inria.fr>
Sylvain Dailler <dailler@adacore.com> <dailler@moloch.lri.fr>
Sylvain Dailler <dailler@adacore.com> <sylvain.dailler@gmail.com>
Xavier Denis <xavier.denis@inria.fr> <xldenis@gmail.com>
Kate Deplaix <kit.ty.kate@disroot.org> <jp.deplaix@gmail.com>
Diego Diverio <diego.diverio@inria.fr>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <jean-christophe.filliatre@cnrs.fr>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <jean-christophe.filliatre@lri.fr>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <filliatr@lri.fr>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <jc@evariste.(none)>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <jc@gemini.(none)>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <filliatr@balrog.(none)>
Jean-Christophe Filliâtre <jean-christophe.filliatre@cnrs.fr> <jean-christophe.filliatre@inria.fr>
Clément Fumex <clement.fumex@inria.fr> <fumex@moloch.lri.fr>
Quentin Garchery <garchery.quentin@gmail.com> <quentin.garchery@inria.fr>
Léon Gondelman <gondelmans@lri.fr>
Léon Gondelman <gondelmans@lri.fr> <lgondelmann@gmail.com>
Léon Gondelman <gondelmans@lri.fr> <lgondelman@lg-PC.(none)>
Léon Gondelman <gondelmans@lri.fr> <leon@ubuntu.(none)>
David Hauzar <david.hauzar@inria.fr> <hauzar@moloch.lri.fr>
Benjamin Jorge <benjamin.jorge@cea.fr>
Jacques-Henri Jourdan <jacques-henri.jourdan@cnrs.fr> <jacques-henri.jourdan@inria.fr>
Jacques-Henri Jourdan <jacques-henri.jourdan@cnrs.fr> <jacques-henri.jourdan@normalesup.org>
Johannes Kanig <kanig@adacore.com> <johannes.kanig@lri.fr>
Rehan Malak <rehan.malak@inria.fr>
Claude Marché <claude.marche@inria.fr> <Claude.Marche@inria.fr>
Claude Marché <claude.marche@inria.fr> <cmarche@dispater.(none)>
Claude Marché <claude.marche@inria.fr> <cmarche@orcus.(none)>
Claude Marché <claude.marche@inria.fr> <cmarche@belzebuth.(none)>
Guillaume Melquiond <guillaume.melquiond@inria.fr>
Guillaume Melquiond <guillaume.melquiond@inria.fr> <melquion@moloch.saclay.inria.fr>
David Mentré <dmentre@linux-france.org>
Benjamin Monate <benjamin.monate@trust-in-soft.com> <benjamin.monate@cea.fr>
Solène Moreau <solene.moreau@inria.fr>
Kim Nguyễn <kim.nguyen@lri.fr> <kn@lri.fr>
Thi-Minh-Tuyen Nguyen <thi-minh-tuyen.nguyen@inria.fr> <nguyen@lri.fr>
Thi-Minh-Tuyen Nguyen <thi-minh-tuyen.nguyen@inria.fr> <nguyen@acces.lri.fr>
Thi-Minh-Tuyen Nguyen <thi-minh-tuyen.nguyen@inria.fr> <nguyenthiminhtuyen@minhtuyen.local>
Thi-Minh-Tuyen Nguyen <thi-minh-tuyen.nguyen@inria.fr> <thi-minh-tuyen.nguyen@inria.fr>
Andrei Paskevich <andrei@lri.fr> <andrei@tertium.org>
Andrei Paskevich <andrei@lri.fr> <andriy.paskevych@inria.fr>
Paul Patault <patault@pm.me>
Paul Patault <patault@pm.me> <p.patault@gmail.com>
Paul Patault <patault@pm.me> <paul.patault@lmf.cnrs.fr>
Paul Patault <patault@pm.me> <paul.patault@universite-paris-saclay.fr>
Mário Pereira <mariojppereira@gmail.com> <mpereira@lri.fr>
Mário Pereira <mariojppereira@gmail.com> <mario.j.p.pereira@gmail.com>
Mário Pereira <mariojppereira@gmail.com> <parreira@lri.fr>
Mário Pereira <mariojppereira@gmail.com> <mario-jose.parreira-pereira@inria.fr>
Mário Pereira <mariojppereira@gmail.com> <mjp.pereira@fct.unl.pt>
Gérald Point <gerald.point@labri.fr>
Raphaël Rieu-Helft <raphael.rieu-helft@trust-in-soft.com>
Raphaël Rieu-Helft <raphael.rieu-helft@trust-in-soft.com> <raphael.rieu-helft@inria.fr>
Raphaël Rieu-Helft <raphael.rieu-helft@trust-in-soft.com> <raphael.rieu-helft@lri.fr>
Raphaël Rieu-Helft <raphael.rieu-helft@trust-in-soft.com> <raphael.rieuhelft@gmail.com>
Raphaël Rieu-Helft <raphael.rieu-helft@trust-in-soft.com> <rieu@moloch.lri.fr>
Asma Tafat-Bouzid <atafat@lri.fr>
Asma Tafat-Bouzid <atafat@lri.fr> <atafat@atafat-desktop.(none)>
Piotr Trojanek <piotr.trojanek@altran.com> <piotr.trojanek@gmail.com>
Makarius Wenzel <makarius@sketis.net>
