@import url(fontawesome/css/font-awesome.min.css);

/* fontawesome */
[class*="fa-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/* tasks icons */
.task-pending {
    color: blue;
}
.task-valid {
    color:green;
}
.task-unknown {
    color:orange;
}
.task-abort {
    color:black;
}
.task-selected {
    background:rgba(250,220,90,0.7);
}

/* ACE Editor */
.error {
    position:absolute;
    background:rgba(231,113,116,1);
    z-index:70;
}

.loc-neg-premise {
    position:absolute;
    background:rgba(255,128,64,1);
    z-index:60;
}

.loc-goal {
    position:absolute;
    background:rgba(64,191,255,1);
    z-index:50;
}
.loc-premise {
    position:absolute;
    background:rgba(100,233,134,1);
    z-index:40;
}

/* Interface */
body {
    padding:0;
    margin:0;
    font-family: sans-serif;
    font-size:12pt;
}

#editor-panel {
    position:absolute;
    top:48pt;
    bottom:0pt;
    display:block;
    box-sizing: border-box;
    padding:0;
    margin:0;
    width:100%;
}

.tab-header {
    display:inline-block;
    border-radius: 0.25em 0.25em 0 0;
    vertical-align:middle;
    text-align:center;
    padding:0.25em 0.75em;
    margin-top:0.25em;
    margin-left:0.25em;
    margin-right:0.25em;
    background: #ddd;
    height:1.5em;
    line-height:1.5em;
    font-size:14pt;
    z-index:0;
} /*total height 0.25 * 2 + 0.25 +1.5 = 2.25 em; */

.tab-body {
    display:block;
    position:absolute;
    background: #ddd;
    bottom:0;
    top:2.25em;
    left:0;
    right:0;
    z-index: 0;
}

#task-editor {
    height:100%;
    width:100%;
    font-size: large;

}

.tab-header.alert {
    color:red;
    font-weight:bold;
}
.tab-header.active {
    z-index:10;
    background:#eee;
}
.tab-body.active
 {
    z-index:10;
    bottom:0;
    top:2.25em;
    width:100%;
    background:#eee;
}

#editor-panel.wide-view #editor {
    position:absolute;
    top:0;
    left:0;
    width:48rem;
    height:100%;
}
#editor-panel.wide-view #tab-panel {
    position:absolute;
    left:48rem;
    right:0;
    height:100%;
}
#editor-panel.standard-view #editor  {
    position:relative;
    width:100%;
    height:50%;
}
#editor-panel.standard-view #tab-panel {
    position:relative;
    width:100%;
    height:49%;
}

#editor {
    font-size: large;
    box-sizing: border-box;
    display:inline-block;
    margin: 0 ;
    padding:0;
    z-index:5;
    vertical-align:top;
    border-right: 1pt  #ddd solid;
    border-bottom: 1pt #ddd solid;
}

/* CSS MENU BAR */
#tool-bar {
    background-color:#ddd;
    position: absolute;
    top: 18pt;
    margin:0;
    height:30pt;
    width:100%;
    padding:0;
    line-height:30pt;
}
#tool-bar button {
    color: #333;
    margin-top:1pt;
    margin-left:5pt;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    border-radius:3pt;
    border: solid 1pt #aaa;
    font-size:14pt;
    width: 28pt;
    height:28pt;
    vertical-align:top;
}
.menu-bar {
    position:absolute;
    top:0pt;
    margin:0;
    z-index:100;
    font-size:14pt;
    height:18pt;
    padding:0;
    width:100%;
}
.menu-bar * {
    z-index:100;
}
.menu-bar:after {
    content:"";
    display:table;
    clear:both;
}

.menu-bar ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    height:18pt;
    box-sizing:border-box;
    }

/* Positioning the navigation items inline */
.menu-bar *,
#console ul#theory-list * {
    /* Make the test non selectable */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.menu-bar ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    height: 100%;
    box-sizing:border-box;
}

/* Styling the links */
.menu-bar > ul > li > span {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;

    display:block;
    padding:0pt 1em;
    color:#444;
    text-decoration:none;
    border-radius: 5pt 5pt 0pt 0pt;
    border-style:solid;
    border-width:1pt;
    border-color:transparent;
    height:100%;
    box-sizing:border-box;
    margin:0;
}

/* Background color change on Hover */
.menu-bar > ul > li > span:hover {
    background-image: linear-gradient(to bottom, #eee, #bbb);
    border-color: #aaa;
    box-sizing:border-box;
    cursor:default;

}
.menu-bar > ul > li > ul {
/*    display:none;*/
    height:0;
    overflow:hidden;
    box-sizing:border-box;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
}
.menu-bar > ul > li:hover > ul {
    height:auto;
    background-color:#ddd;
    box-shadow:0pt 0pt 5pt  #444;
    opacity:1;
    cursor:default;
}
.menu-bar > ul > li > ul > li {
    float:left;
    display: inline-block;
    clear:left;
    width: 100%;
    position: relative;

}
.menu-bar > ul > li > ul > li  {
    display:block;
    padding:1pt 2pt 1pt 2pt;
    color:#444;
    text-decoration:none;
    border-radius: 1pt;
    border-style:solid;
    border-width:1pt;
    border-color:transparent;
    box-sizing:border-box;
    height: 100%;
}
.menu-bar > ul > li > ul > li:before {
    display:inline-block;
    content:"";
    width:0pt;
    height: 100%;
    vertical-align:middle;
}
.menu-bar > ul > li > ul > li:hover {
    border-color:#cce;
    background-image: linear-gradient(to bottom, #abe, #68b);
}

/* Hidden file selector */
#file-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    height:0;
    z-index:-1;
}


#console ul#theory-list {
    position:relative;
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0.5em;
}
#console ul#theory-list li {
    font-weight:bold;
    position:relative;
}

#console ul#theory-list li {
    font-weight:normal;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

#console ul#theory-list ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 2em;
}


#console ul#theory-list ul ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 2em;
}

#console ul#theory-list ul li:before {
    display:inline-block;
    position:absolute;
    content: "";
    height:50%;
    top:0;
    left:-1.5em;
    width:1.25em;
    border-bottom: 2pt solid #aaa;
    border-left: 2pt solid #aaa;
}


/* Confirmation dialog */
.btn {
    width:100%;
    z-index:1;
    margin:0 0 4pt 0;
    box-sizing:border-box;
}

#confirm-dialog {
    z-index:20;
    display:none;
    position:absolute;
    margin: 0 auto;
    padding: 2pt 0;
    width:50%;
    left:25%;
    right:25%;
    top:20%;
    border-radius:5pt;
    background: #eee;
    text-align:center;
}

#background-shadow {
    display:none;
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    z-index:15;
}

#confirm-dialog .btn {
    width:40%;
}
