body {
    font-family: sans-serif;
    width: 90%;
    margin:auto;
}

h1  { font-size:19pt; background-color:#356aa0; color:#fff; }
h2  { font-size:15pt; background-color:#356aa0; color:#fff; }
pre { background-color:#efefef; }

