[iconset fatcow]
name = "FatCow"
license = "readme-fatcow.txt"
default = "delete"
undone = "bullet_white"
scheduled = "control_pause_blue"
running = "control_play_blue"
valid = "accept"
unknown = "help"
invalid = "exclamation"
timeout = "time_delete"
outofmemory = "database_delete"
steplimitexceeded = "brick_delete"
failure = "bomb"
valid_obs = "bullet_green"
unknown_obs = "bullet_blue"
invalid_obs = "bullet_red"
timeout_obs = "time_delete"
outofmemory_obs = "database_delete"
steplimitexceeded_obs = "brick_delete"
failure_obs = "bullet_black"
yes = "accept"
no = "delete"
file = "package"
theory = "folder"
goal = "script"
prover = "magic_wand_2"
transf = "multitool"
#TODO change metas
metas = "ddr_memory"
editor = "pencil"
replay = "update"
cancel = "cancel"
reload = "delete"
remove = "delete"
cleaning = "bin"
