[iconset boomy]
name = "Boomy"
default = "undone32"
undone = "undone32"
scheduled = "pausehalf32"
running = "play32"
valid = "accept32"
unknown = "help32"
invalid = "delete32"
timeout = "clock32"
outofmemory = "deletefile32"
failure = "bug32"
valid_obs = "obsaccept32"
unknown_obs = "obshelp32"
invalid_obs = "obsdelete32"
timeout_obs = "obsclock32"
outofmemory_obs = "obsdeletefile32"
failure_obs = "obsbug32"
yes = "accept32"
no = "delete32"
directory = "folder32"
file = "file32"
prover = "wizard32"
transf = "configure32"
editor = "edit32"
replay = "refresh32"
cancel = "cut32"
reload = "movefile32"
remove = "delete32"
cleaning = "trashb32"
